body{
	background-color: #4b649c;
}

h1,h2{
	color: white;
	width: 16rem;
}

.card-img-top{
	width: 7rem;
}

.container {
	margin: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.temperature {
	font-size:5rem;
	color: white;
	margin-right: 10px;
}

.min, .max {
	font-size: 1.5rem;
}

.row {
	color: white;
}

#left {
	margin-right: 10px;
}

#right {
	margin-left: 10px;
}